@import 'nib'
@import 'axis'
@import 'rupture'

normalize-css()

@font-face
 font-family 'Open Sans'
 font-weight 400
 font-style normal
 font-stretch normal

rupture.scale = 0 485px 800px 1200px
rupture.anti-overlap = 1px
rupture.enable-em-breakpoints = true

a
	link()
	

	
input
 autofill(green, white)
form .field.error
 field-error()
form .field.success
  field-success()
form .field.warning
  field-warning()

+html5-inputs()
  input()
.disabled
  input-disabled()
label
  label: block
	 radio(red)
input[type='range']
  range: tomato 150px 25px 2px rgba(red, .5)
  
option
	color #000

h1
  h1()
  font-family 'Fredoka One'
h2
  h2()
h3
  h3()
h4
  h4()
h5
  h5()
h6
  h6()

h1,h2,h3,h4,h5,h6,p,li,td
	font-weight 300

$text-selection = teal
$font-size = 16
$font-color = #555

html
	background rgb(30,0,30)
	gradient rgb(30,0,30) rgb(90,10,90)
 background-image url('/img/newrings_cassini_big.jpg')
 background-image url('http://www.photos-public-domain.com/wp-content/uploads/2012/01/crumpled-lavender-paper-texture.jpg')
 background-size cover
 background-position center center
 background-repeat repeat
 transition 666ms all ease-in-out
	height 100%
	width 100%
	color #fff
	

body
	position absolute
	text-align center
	font-size responsive
 min-font-size: 12px
 max-font-size 40px
 lower-font-range 420px
 upper-font-range 2280px
 font-family Open Sans
	height 100%
	width 100%
 transition 666ms all ease-in-out
	color rgba(250, 235, 215, .93)

nav	
	ul
	 margin-top 0
	 margin-bottom 0
	a
  font-size 1.15em
  z-index 999999
 +below(3)
 	font-size 1.65em

ul li
	margin auto
	text-align left
	padding-left 5%


.delete
	glossy-button red 'small'
	gradient red 70%
	text-align right
	click-shrink()
	icon-x(20px, orange, 5px)

#footer
	justify-content center
	bottom 0
	left 0
	right 0
	position fixed
	display inline-flex 
	flex-direction 
	background rgb(10,0,10)	
	background rgba(10,0,10,0.8)
	max-height 10%
	z-index 99999
	span
		font-size .66em
		line-height normal
		margin 0.1em
		padding-left .75em
		padding-right .75em
		z-index 9999

.middleInput
 position fixed
 bottom 15%
 width: 33%!important
 left 33%
 margin auto
 right 33%
 & *
 	width 33%
 	left 33%
 	
#urlFrame
	width 100%
	height 25em
	height 70vh

.admin-layout
	color #000
	

#gmap_search_cont
	.selectize-input.items
		width 90%
		left 0%
	& .icon-container
		display flex
		flex-direction row
  justify-content flex-end
  position relative
  width 100%
  left 0
		& i
			left 0
   font-size 200%
   color #000
   z-index 999
   position relative
   display inline-flex
   text-align center
   width 1em
	#gmap_search
		width 33%
		z-index 9



/*Banner for Log-in, etc*/
#topBanner
	text-align right
	font-size .55em
	font-family "Fredoka One", sans-serif
	li a
		color #049EDB	
		click-shadow()
		padding .7m
		border-radius 50%
	ul
		display flex
	#b3logo
		background-image url('https://betterbetterbetter.org/wp-content/uploads/2015/12/common.png')
  width 3em
  height 3em
  position fixed
  z-index 9999

.topSpacer
	width 100%
	height 5%
	position relative

li
	position relative
	list-style-type none
	hover-lighten()

#login-buttons
	right 0
	position relative


.fullWidth
	width 80%
	margin auto



.listing
 font-family "Open Sans", sans-serif
	box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px		
	font-size .75em
	margin 3px
	background rgb(10, 0, 10)
	background rgba(10, 0, 10, 0.75)
	border-radius: 15px
 font-size .75em
 flex-grow 0
 flex-shrink 0
 flex-basis 0
 transition 333ms height ease,
 	555ms background ease
	display inline-table
	table-layout fixed
	padding .5em

 .map
  height 9em
  width 485px
  text-align center
  margin-left auto
  margin-right auto
  box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px		
  .gmnoprint
  	display none
  .gm-style-cc
  	display none
 .website
 	font-size .88em
 	text-align center
 .logo
 	width 3.5em
	 height 3.5em
	.ownerPic
	 text-align left
	.map-container
		height 300px
	.bizName
		font-family "Fredoka One", sans-serif
		color #00049A
 	font-size 1.5em
	.phone, .email
		font-size .77em

.listing.focus
		background rgb(132, 9, 132)
		background rgba(132, 9, 132, 0.98)
		height 606px
		a
			color #049EDB	
		&:hover
			hover-lighten()		

.map-canvas
	box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px		

#allList
	width auto
	bottom 0
	left 0
	right 0
	display flex
 flex-direction row
 flex-wrap wrap
 justify-content space-between
 align-content flex-start
 align-items flex-start
 +below(2)
 	width 100%
 	margin 0

::-webkit-scrollbar-thumb

::-webkit-scrollbar-track-piece
	
::-webkit-scrollbar-track

::-webkit-scrollbar-button

::-webkit-scrollbar

::-webkit-scrollbar-corner, ::-webkit-resizer



::-webkit-scrollbar 
 width .5em
 height .5em
 border-radius 2px

::-webkit-scrollbar-track 
 -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.4)
 
::-webkit-scrollbar-thumb 
 background-color darkgrey
 outline 1px solid slategrey





.header
	background rgb(10,0,10)
	background rgba(10,0,10,.33)

.filter-button-group
	padding-left 5%
	padding-right 5%
	padding-bottom 1.5%
	label, [type="checkbox"]
		display inline-block
	[type="checkbox"]
		height .75em
		width .75em

.btn
	font-weight 700
 border 2px outset
 margin-top .25em
 background transparent
 transition 666ms all
 padding-left 3%
 padding-right 3%
 padding-top .25%
 padding-bottom .25%
	&:hover
		border 2px inset
		background rgb(55,55,55)
		background rgba(55,55,55,.2)
	+below(2)
		font-size 1em
	+above(2)
		font-size .75em


	
#mapBG
 width 100%
 height 100%
	transition 3s height ease-in-out
 &.shrink
 	height 0%!important
 	.map-canvas
 		height 0%!important
	.map-canvas
		transition 3s height ease-in-out
		position absolute
	div > .gmnoprint:last-child
		margin 0%!important
		left 0%!important
	.cluster
		user-select none
	 &:hover
  	transform scale(1.25_)
		.markerCounterWrapper
			user-select none
	  color #333!important
	  font-size 1.5em!important
	  font-weight normal!important
	  font-family "Fredoka One","Open Sans", sans-serif!important
	  border-radius 50%

.gm-style-iw
	background transparent
	transition 666ms all ease-in-out
 top 0 !important
 left 0 !important
 border-radius 3em
 & *
 	min-width 5em
 	max-width 30em
	.socialMission
		font-size 1em
		max-height 3em
		max-width 5em
		display table-cell
		div
			max-height 3em
			display block
			*
				display inline
	.bizName
		color rgb(5,5,60)
  text-shadow #FFF 0 0 0, #FFF 1px 0 0, #FFF 0 1px 0, #FFF 1px 1px 0, #FFF -1px 0 0, #FFF 0 -1px 0, #FFF -1px 1px 0
		font-size 1.5em
		padding .25em
		&:hover
			color rgb(140,5,10)
	.logo
 	width 2em
	 height 2em
	tr:first-child
		padding .25em
	tr:nth-child(2)
		height 8em
		
.gm-style
	& > div > div > div > div > div > div:last-child
		display none

.btn.active
	border 2px inset
	background rgb(55,55,55)
	background rgba(55,0,55,.4)
	
.sheerBg
	background rgb(10,0,10)	
	background rgba(10,0,10,0.8)
	padding-left 1em
	padding-right 1em
	
fieldset
	background rgb(10,0,10)	
	background rgba(10,0,10,0.75)
	box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px		
	input
		width 75%
	select
		color #000	
 span
 	font-size .5em
 legend
 	padding-bottom .75em
  margin-bottom 1em
	.bizName
		font-size 2em
		text-align center
		background transparent
		border-bottom #fff 3px dashed
		border-top none
		border-left none
		border-right none
		
	
.fr-modal
	display none

.help-block 
 color #f00
 display block

.grid
	lost-utility clearfix
	width 100%
	.col
		lost-column 1/2
		+below(2)
			lost-column 1	

[type="submit"]
	glossy-button #2f4f4f 'medium'
 text-shadow #D2771E 0 1px 0, #D22D1E -1px 0 0, #D22D1E 0 -1px 0, #D2771E 1px 0 0
 transition 666ms all ease
	&:hover
 	color #fdf

#login-dropdown-list
	background rgb(58, 4, 54)
	background rgba(58, 4, 54, 0.95)
 color #fdf

.uploadPanel [type="submit"]
	font-size 1em
	glossy-button #897987 'small'
input[name="website"], input[name="bizName"]
 width 66%
 margin-bottom 2em


.contain-image
	background-repeat no-repeat
	background-position center center
	background-size contain
	border-radius 3px

.secret
	opacity 0!important
	height 0!important
	width 0!important
 user-select none!important
 color transparent!important
 background transparent!important
	transform scale(0)
	transition-delay height 600ms, width 600ms


.tooltip 
 z-index 1001
 pointer-events none
 transition opacity .1s ease-out
 opacity 0

.tooltip.hide 
 opacity 0

.tooltip.show 
 opacity 1
 
.o0
	opacity 0
	&*
		opacity 0
		
::-moz-selection  
	background yellow
	color #111 

::selection 
	background yellow 
	color #111


.profile
	#website
		word-break break-all
	.headerLogo
		max-width 66%
	legend
		max-width 50%
	.logo, .ownerPic
		max-width 50%
		box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px		
	.bizName
		margin 0
		font-size 2em
		text-shadow #111 0 0 0, #111 1px 0 0, #111 0 1px 0, #111 1px 1px 0, #111 -1px 0 0, #111 0 -1px 0, #111 -1px 1px 0
	.map-canvas
		height 10em!important

.social-container		
	.social-icon
		border none
		&:hover
			border none
		img
			transition 666ms all ease-in-out
			max-width 300px
			background #E9F4E9
		 background rgba(233, 244, 233, 0.68)
		 border-radius 50%
		 height 3em
		 &:hover
		 	border none
			 background rgb(243, 240, 245)
			 background rgba(243, 240, 245, 0.88)
		 	animation swell 1s infinite
	.social-icon:nth-of-type(1) img:hover
	 background rgb(230,45,17)
		background rgba(230,45,17,.88)
	.social-icon:nth-of-type(2) img:hover
	 background rgb(245, 124, 21)
	 background rgba(245, 124, 21, 0.88)
	.social-icon:nth-of-type(3) img:hover
	 background rgb(245, 249, 23)
	 background rgba(245, 249, 23, 0.88)
	.social-icon:nth-of-type(4) img:hover
	 background rgb(45, 245, 21)
	 background rgba(45, 245, 21, 0.88)
	.social-icon:nth-of-type(5) img:hover
	 background rgb(31,58,253)
	 background rgba(31,58,253,0.88)
	.social-icon:nth-of-type(6) img:hover
	 background rgb(219, 31, 253)
	 background rgba(219, 31, 253, 0.88)
	.social-icon:nth-of-type(7) img:hover
	 background rgb(243, 240, 245)
	 background rgba(243, 240, 245, 0.88)

 	
@keyframes swell
 0%
		transform scale(1)
 50%
		transform scale(1.2)
 100% 
		transform scale(1)
  

.oldPreview
	max-width 8em
	max-height 8em
	
.none
	display none
	
#delete
	glossy-button red 'large'
	font-size 2.5em
	font-family 'Fredoka One', impact
	position relative
	bottom 0
	right 0
	
.bottomButtonRemove,.bottomButtonSubmit
	width 100%
	position relative	
.bottomButtonRemove
	text-align right
.bottomButtonSubmit
	text-align center
	




div.loaderScreen
 border-radius 50%
 position absolute
 top 50%
 left 75%
 height 3em
 width 3em
 margin-top -2.25em
 margin-left -2.25em
 for divvy in 1..13
  &:nth-of-type({divvy})
		 &:nth-of-type(odd)
		   background black
		   box-shadow #030003 1px 1px 3px, #030003 -1px -1px 3px, #030003 1px -1px 3px, #030003 -1px 1px 3px		
		   animation slideOdd 12s .5s*divvy ease-in-out infinite
		 &:nth-of-type(even)
		   background white
		   box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px
		   animation slideEven 12s .5s*divvy ease-in-out infinite		


			

@keyframes slideOdd
 0%  
 	transform scale(1)
	 left 75%
	 top 50%
	 background black
  box-shadow #030003 1px 1px 3px, #030003 -1px -1px 3px, #030003 1px -1px 3px, #030003 -1px 1px 3px		
	12.5%
		transform scale(1.5)
	 top 66%
	25%
		transform scale(1)
	 left 25%
	 top 50%
	 background black
  box-shadow #030003 1px 1px 3px, #030003 -1px -1px 3px, #030003 1px -1px 3px, #030003 -1px 1px 3px	
	37.5%
		transform scale(.5)
	 top 33%
	 background white
  box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px		
	50%
		transform scale(1)
	 left 75%
	 top 50%
	67.5%
		transform scale(1.5)
	 top 66%
	75%
		transform scale(1)
	 left 25%
	 top 50%
	87.5%
		transform scale(.5)
	 top 33%
	 background white
  box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px		
	100%
		transform scale(1)
	 left 75%
	 top 50%		
	 background black
  box-shadow #030003 1px 1px 3px, #030003 -1px -1px 3px, #030003 1px -1px 3px, #030003 -1px 1px 3px		

@keyframes slideEven
 0%  
 	transform scale(1)
	 left 75%
	 top 50%
	 background white
  box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px		
	12.5%
		transform scale(1.5)
	 top 66%
	25%
		transform scale(1)
	 left 25%
	 top 50%
	 background white
  box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #F0F8FF -1px 1px 3px	
	37.5%
		transform scale(.5)
	 top 33%
	 background black
  box-shadow #030003 1px 1px 3px, #030003 -1px -1px 3px, #030003 1px -1px 3px, #030003 -1px 1px 3px		
	50%
		transform scale(1)
	 left 75%
	 top 50%
	67.5%
		transform scale(1.5)
	 top 66%
	75%
		transform scale(1)
	 left 25%
	 top 50%
	87.5%
		transform scale(.5)
	 top 33%
	 background black
  box-shadow #030003 1px 1px 3px, #030003 -1px -1px 3px, #030003 1px -1px 3px, #030003 -1px 1px 3px		
	100%
		transform scale(1)
	 left 75%
	 top 50%		
	 background white
  box-shadow #F0F8FF 1px 1px 3px, #F0F8FF -1px -1px 3px, #F0F8FF 1px -1px 3px, #030003 -1px 1px 3px		
  

.g-recaptcha
 width 306px
 margin auto
 
#login-dropdown-list
 left 0px
 right 0px
 bottom 0px
 top 0px
 position fixed
 padding-top 10em
 width 100%
 div
		width 50%
		margin auto
 .login-close-text
 	position fixed
 	top 0
 	right 0
 	font-size 3em
		color #f00000
		text-decoration none
	.login-button.login-button-form-submit
		margin-top 2em

.center
	text-align center
	padding-left 20%
	padding-right 20%
	+below(2)
		padding-left 0
		padding-right 0
		




#login-buttons .login-button, .accounts-dialog .login-button
	transition 666ms all ease-in-out
	background rgb(132, 9, 132)
	background rgba(132, 9, 132, 0.98)
	border 2px outset #a000a0
	border-radius 1.5em
	&:hover, &:focus
		background rgb(218,23,48)
		background rgba(218,23,48,.9)
		border 2px inset #800080
.additional-link
 font-size 1.3em!important
 font-family 'Open Sans', sans-serif
 














.searchbar
 z-index 9
 position fixed
 &#kw_tier1
 	width 40%
 	top 8%
  right 3%
  color #000
		box-shadow #777 2px 2px 2px
	 

.selectize-dropdown
	transition 666ms all ease-in-out
	position absolute
	z-index 99
	& *
		z-index 99	
.selectize-input
	transition 666ms all ease-in-out
	 box-shadow #777 2px 2px 2px

.selectize-control.multi .selectize-input [data-value]
	text-shadow 1px 1px 0 #999, 2px 2px 0 #666!important
	border-radius 1em
	box-shadow #444 1px 1px 3px 1px!important
 background radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 42%,rgba(0,0,0,0.43) 86%,rgba(0,0,0,0.18) 94%,rgba(161,219,255,0) 100%)
 border #000 2px solid
 &.active
		background #000

.kw1,.kw2,.kw3
 width 20%
 padding-left 2.5%
 padding-right 2.5%
 top 0
 text-align center
	.selectize-input
		background rgba(250,250,250,.25)
		border-radius .5em
		border 0
		padding .15em
		transition 333ms all ease
		&:hover
		 background rgba(250,250,250,.75)

.kw1
	left 12.5%
.kw2
	left 37.5%
.kw3
	left 62.5%



.selectize-input.items
	padding 0!important
	border 0!important
	box-shadow rgb(250, 235, 215) 0px 0px 5px!important
	background rgba(240,240,240,0.3)!important
	&:hover, &:active, &:focus
	 box-shadow rgb(250, 235, 215) 0px 0px 5px 3px!important
  background rgba(240,240,240,0.8)!important

.fallAndShrink
	opacity .3!important
	transform scale(0) translate(0,100px)!important


.controlMenu
	z-index 99

main
	top 5%
	max-height 80%
 position absolute
 overflow auto
 margin-left 17%
 margin-right 17%
 width 66%
 transition 666ms all ease-in-out
 z-index 99
	table
		font-size .66em
		tr:nth-child(even)
			background #111
		tr:nth-child(odd)
			background #222
		thead tr 
			background #000!important
			color #eee!important
			
	&.invites
		background rgb(10,0,10)	
		background rgba(10,0,10,0.8)
		padding-left 1em
		padding-right 1em


i
	cursor pointer
	z-index 99
	 
.screenOverlay
	width 100%
 height 100%
 z-index 0
 position fixed
 transition 666ms all ease-in-out
 opacity 0
 z-index 9
 pointer-events none
 background rgba(134, 134, 134, 0)
 &.obscuring
 	pointer-events inherit
 	z-index 9
 	opacity 1
  background rgba(34, 34, 34, 0.5)

#toggle_main
	z-index 999
	&.noMapClose, &.noMapClose #close_main
		top 0!important
		right 0!important
		position fixed!important
		font-size 2em
		z-index 999
	&.closed
		top 2%!important
		right 3%!important	
 transition 666ms all ease-in-out
	top 2%!important
	right 17%!important
	z-index 999
	height 20px
	width 20px
	position absolute
	top 0
	right 0

.mainbutton
	transition 666ms all ease-in-out
	display block
	position absolute
	user-select none
 click-shrink()
	padding 0!important
	&#open_main
		color #66cc00
	&#close_main
		color #b22222
#back_cont, #back_i
	top 3%
	left 15% 


article
	transition 666ms all ease-in-out
	


#sysTray
 display flex
 flex-direction row
 flex-wrap wrap
 width 33%
 justify-content space-around
 &>*
 	div#sysTray > * 
	  padding-left 2em
	  padding-right 2em
	& i
		transition 333ms all ease-in-out
		position fixed
		bottom 2.5%
		font-size 2em
		color #fff
		&:hover
			font-size 4em
			transform translate(-20px)
	.active i
		font-size 4em
		transform translate(-20px)
		color #21ba45
		

div.line
 transform-origin 0 100%
 height 1px
 background #000
 box-shadow #fff 0 0 3px
 transition 333ms all ease-in-out
 
.rightEdge
	text-align right
	.narrow
		width 33%
		display inline-block
		.placesLi
			font-size .66em
			cursor pointer
			line-height 1em
			margin-top .66em
			margin-bottom .66em
			transition 333ms all ease-in-out
		 &:hover
		 	color rgba(220,105,110,.95)
	
.ui.comments
	.avatar
		display none!important
	textarea.create-comment
		width 95%
		max-width 95%
	.sorting, .author
		font-size .5em!important
	.submit
		font-size 1em
 .content
		margin-left 0!important
	.actions
		.reply-action, .edit-action, .remove-action
			font-size .5em
 
.comment-section *
	color rgba(250, 235, 215, .93)!important
	textarea, .ui.sorting-dropdown *
		color rgba(0, 0, 0, .93)!important

.halfHeight
	height 15em
	height 50vh
	
.admin-layout
	font-size .66em
	.pagination
		font-size .66em
		
#keywordsManagerTable
	width 100%
	text-align center 
	textarea 
		height 15em 
		height 20vh 
	& *
		text-align center 
		

#allKW_cont
	height 10em
	height 30vh
	overflow auto
	background rgba(222,222,222,.4)
	.ignore
		cursor not-allowed
		opacity .3
	i
		display none
	.allKW
		display inline-block
		font-size .7em
		background #000
		background rgba(0,0,0,.7)
		border rgba(0,0,0,.7) 2px solid
	 border-radius 3em
	 margin .5em			
  padding .1em
  display inline-block
  padding-left .3em
  padding-right .3em
  transition 333ms all ease
  &.active
  	background #000
  	border #777 2px solid
  	&.ignore 
  		background #000!important
  		opacity 1!important



#proceedingKW_cont
	.remove_association
		&.right
			display none
	.selectKW
		&.left
			display none

#precedingKW_cont
	.remove_association
		&.left
			display none
	.selectKW
		&.right
			display none

			
#removeKW
	font-size 1em
	color #fff
	transition 333ms all ease
	&:hover,&:active
		color #f30000
		font-size 2em