<template name="allListings">
  <div class="header">

    <h1>The People's Knowledge.</h1>

    <div class="btn-group filter-button-group">

    <h3>What are you looking for?</h3>

      <div class="industryFilter">
        <button class="btn active" data-filter="*" selected>All</button>
        <button class="btn" data-filter=".Art">Arts</button>
        <button class="btn" data-filter=".Entrepreneur">Entrepreneurship</button>
        <button class="btn" data-filter=".Finance">Finance</button>
        <button class="btn" data-filter=".Hospitality">Hospitality</button>
        <button class="btn" data-filter=".Health">Health</button>
        <button class="btn" data-filter=".Communications">Communications</button>
        <button class="btn" data-filter=".Outdoors">Outdoors</button>
        <button class="btn" data-filter=".Reform">Reform</button>
        <button class="btn" data-filter=".Transport">Transportation</button>
      </div>

    </div>

  </div>

  <div id="allList">

  {{#if Template.subscriptionsReady}}

    {{#each listings}}
      {{> listing}}
    {{/each}}
    
  {{/if}}

  </div>

</template>


<template name="listing">
    
    <table class="listing
    {{#if isCurrentUser userId}}myListings{{/if}}
    {{industryClass industry}}
    ">
      <colgroup>
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
      </colgroup>
      <tr>
        <th colspan="20" class="bizName">{{#if focus}}<a class="" href="/profile/{{bizNameUrl}}">{{bizName}}</a>{{else}}
        {{bizName}}{{/if}}</th>
      </tr>
      <tr>
        <td colspan="20" class="socialMission"><div>{{{socialMission}}} <a href="/profile/{{bizNameUrl}}" class="readmore">&#xbb;</a></div></td>
      </tr>
      {{#if focus}}
      <tr>
        <td colspan="20" class="website"><a target="_blank" href="{{website}}">{{websitePretty website}}</a></td>
      </tr>
      {{/if}}
        <tr colspan="20" class="map" style="display:
      {{#if focus}}
        inherit;
      {{else}}
        none;
      {{/if}}
        "></tr>    
    </table>

</template>
