<template name="layout">

<body>
	{{> mapPage}}
	<main>
		{{#if mainOverflow}}
		
		{{else}}
			{{> yield}}
		{{/if}}
  </main>
	{{> nav}}
	{{> footer}}
	{{#if mainOverflow}}
		<article>
			{{> yield "article"}}
		</article>
	{{else}}
		
	{{/if}}
</body>

</template>




<template name="nav">
	<nav id="topBanner">
		<a href="{{pathFor 'home'}}" target="_blank"><div id="b3logo" class="contain-image"></div></a>
		<ul>
			<li><a href="{{pathFor 'home'}}">Home</a></li>
			<li>	{{> loginButtons align="right"}}</li>
		</ul>
	</nav>
</template>

<template name="footer">
	<div id="footer">
		<span><a target="_self" href="{{pathFor 'new'}}">Make a Link</a></span>
		<span><a target="_self" href="{{pathFor 'privacy'}}">Privacy Policy</a></span>
	</div>	
</template>


<template name="mapPage">

	<div id="mapBG">
		<input id="gmap_search" class="searchbar" type="text" name="gmap_search" placeholder="Nearby Search">
		<button id="gmapbutton">GO!</button>
  	{{> kwsearchTemplate}}
  	{{> googleMap name="mapPage" options=mapPageMapOptions}}
	  <div id="toggle_main" class="open"><div id="open_main" class="mainbutton hidden">O</div><div id="close_main" class="mainbutton">X</div></div>
	</div>

</template> 

<template name="kwsearchTemplate">

  {{#if Template.subscriptionsReady}}
  <select id="kw_search"  name="state[]" multiple class="searchbar" placeholder="Keyword Search">
		{{#each listings}}<option value="{{@index}}">{{bizName}}</option>{{/each}}
	</select>
  {{/if}}

</template>



