<template name="layout">

<body>
	<div id="gmap_search_cont" class="{{#unless showMap}} secret {{/unless}}">
		<input id="gmap_search" class="{{#unless showMap}} secret {{/unless}} searchbar" type="text" name="gmap_search" placeholder="Nearby Search">
		<i id="gmapbutton" class="{{#unless showMap}} secret {{/unless}} zmdi zmdi-search"></i>
	</div>
  	{{> kwsearchTemplate}}
	<div id="mapBG" class="{{#unless showMap}} shrink	{{/unless}}">
  	{{> googleMap name="mapPage" options=mapPageMapOptions}}
	</div>

	<main class=" {{#unless showingInMain}} secret {{/unless}} ">
			{{> yield}}
  </main>	

	<div id="toggle_main" class="open {{#unless showMap}} noMapClose {{/unless}}">
  	<i id="open_main" class="mainbutton secret zmdi zmdi-plus-circle zmdi-hc-2x"></i>
  	<i id="close_main" class="mainbutton zmdi zmdi-minus-circle zmdi-hc-2x"></i>
	</div>
	{{> nav}}
	
	<div id="gmap_location_pullout" class="{{#unless showMap}} secret {{/unless}}">
		<i id="gmap_loc_i" class=" zmdi zmdi-globe-alt zmdi-hc-3x"></i>
		<input type="text" name="location" class="" id="gmap_loc" placeholder="Find Address...">
	</div>	


	<div id="urlbar_container" class="{{#unless showMap}} secret {{/unless}}">
		<i id="urlbar_i" class=" zmdi zmdi-flare zmdi-hc-3x"></i>
		<input type="text" name="location" class="" id="urlbar" placeholder="Enter URL..." value="{{url}}">
	</div>	



	{{> footer}}
		<article class="{{#if showMap}} secret {{/if}}">
			{{> yield "article"}}
		</article>
 
</body>
</template>




<template name="nav">
	<nav id="topBanner">
		<a href="{{pathFor 'home'}}" target="_blank"><div id="b3logo" class="contain-image"></div></a>
		<ul>
			<li><a href="{{pathFor 'home'}}">Home</a></li>
			<li>	{{> loginButtons align="right"}}</li>
		</ul>
	</nav>
</template>

<template name="footer">
	<div id="footer">
		<span><a target="_self" href="{{pathFor 'new'}}">Make a Link</a></span>
		<span><a target="_self" href="{{pathFor 'privacy'}}">Privacy Policy</a></span>
	</div>	
</template>


<template name="mapPage">
	<div id="mapBG">
		<input id="gmap_search" class="searchbar" type="text" name="gmap_search" placeholder="Nearby Search">
		<i id="gmapbutton" class="zmdi zmdi-search"></i>
  	{{> kwsearchTemplate}}
  	{{> googleMap name="mapPage" options=mapPageMapOptions}}
	</div>

</template> 

<template name="kwsearchTemplate">

  {{#if Template.subscriptionsReady}}
  <select id="kw_search"  name="state[]" multiple class="searchbar" placeholder="Keyword Search">
		{{#each listings}}<option value="{{@index}}">{{bizName}}</option>{{/each}}
	</select>
  {{/if}}

</template>

