<template name="layout">

<body>

 

	{{#if Template.subscriptionsReady}}
	  <select id="kw_tier1"  name="kw1[]" multiple class="controlMenu searchbar kw1" placeholder="Keyword filter...">
			{{#each keywords}}
				{{#if tier 1}}
					<option value="{{keyword}}">{{keyword}}</option>
				{{/if}}
			{{/each}}
		</select>
		<select id="kw_tier2"  name="kw2[]" multiple class="controlMenu searchbar kw2 secret" placeholder="Keyword filter...">
			{{#each keywords}}
				{{#if tier 2}}
					<option value="{{keyword}}">{{keyword}}</option>
				{{/if}}
			{{/each}}
		</select>
		<select id="kw_tier3"  name="kw3[]" multiple class="controlMenu searchbar kw3 secret" placeholder="Keyword filter...">
			{{#each keywords}}
				{{#if tier 3}}
						<option value="{{keyword}}">{{keyword}}</option>
				{{/if}}
			{{/each}}
		</select>
  {{/if}}





	<div id="mapBG" class="{{#unless showMap}} shrink	{{/unless}}">
		<div id="screenOverlay" class="screenOverlay {{#if mainDisplayed}}obscuring{{/if}}"></div>
  	{{> googleMap name="mapPage" options=mapPageMapOptions}}
	</div>

	<main class=" {{#unless showingInMain}} secret {{/unless}} ">
			{{> yield}}
  </main>	

	<div id="toggle_main" class="controlMenu {{#if mainDisplayed}}displayed{{/if}} {{#unless showMap}} noMapClose {{/unless}}">
  	<i id="open_main" class="mainbutton secret zmdi zmdi-plus-circle zmdi-hc-2x"></i>
  	<i id="close_main" class="mainbutton zmdi zmdi-minus-circle zmdi-hc-2x"></i>
	</div>
	



	<div id="footer">
		<span><a target="_self" href="{{pathFor 'new'}}">Make a Link</a></span>

		<div id="sysTray">

			<div id="home_cont" class="controlMenu">
				<a href="{{pathFor 'home'}}">
					<i id="home_i" class="controlMenu zmdi zmdi-home"></i>
				</a>
			</div>	
			<div id="gmap_search_container" class="controlMenu">
				<i id="gmap_search_cont_i" class="controlMenu zmdi zmdi-search"></i>
			</div>	
			<div id="gmap_location_pullout" class="controlMenu {{#unless showMap}} secret {{/unless}}">
				<i id="gmap_loc_i" class=" zmdi zmdi-globe-alt"></i>
			</div>	
			<div id="urlbar_container" class="controlMenu">
				<i id="urlbar_i" class="controlMenu zmdi zmdi-flare"></i>
			</div>	
			<div id="user_cont" class="controlMenu">
				<a href="{{pathFor 'accounts'}}">
					<i id="user_i" class="controlMenu zmdi zmdi-accounts"></i>
				</a>
			</div>	

 
		</div>
		





		<span><a target="_self" href="{{pathFor 'privacy'}}">Privacy Policy</a></span>
	</div>	

			<input type="text" name="location" class="secret controlMenu middleInput urlbar" id="urlbar" placeholder="Enter URL..." value="{{currentURLiFramed}}">

			<input type="text" name="location" class="secret controlMenu middleInput gmap_loc" id="gmap_loc" placeholder="Find Address...">

			<div id="gmap_search_cont" class="gmap_search_cont secret middleInput controlMenu">

				<select id="saved_gmap_search" class=" gmap_saved_searches searchbar controlMenu" type="text" name="gmap_search" placeholder="Saved Searches">
					{{#each savedSearches}}
						<option value="{{searchQ}}">{{searchQ}}</option>
					{{/each}}
				</select>
				
				<br>
				
				<input id="gmap_search" class=" searchbar controlMenu" type="text" name="gmap_search" placeholder="Search Map">
				
				<div class="icon-container">
					
					<i id="gmapbutton" class=" zmdi zmdi-search controlMenu"></i>
				
					{{#if currentUser}}
						<i id="gmapSaveButton" class="  zmdi zmdi-archive controlMenu"></i>
					{{/if}}

				</div>

			</div>

		<!--article class="{{#if showMap}} secret {{/if}}">
			{{> yield "article"}}
		</article-->
 


</body>
</template>




<template name="nav">  
	<div class="sheerBg halfHeight">
		<nav id="topBanner">
			<a href="{{pathFor 'home'}}" target="_blank"><div id="b3logo" class="contain-image"></div></a>
			<ul>
				<li>	{{> loginButtons align="right"}}</li>
			</ul>
		</nav>
	</div>
</template>

<template name="footer">

</template>


<template name="mapPage">
	<div id="mapBG">
		<input id="gmap_search" class="searchbar" type="text" name="gmap_search" placeholder="Nearby Search">
		<i id="gmapbutton" class="zmdi zmdi-search"></i>
  	{{> googleMap name="mapPage" options=mapPageMapOptions}}
	</div>

</template> 

<template name="skipMain">
	
	<div id="skipMain" style="height: 9000px"></div>

</template>


<template name="matchingList">
	<div class="rightEdge">
		<div class="sheerBg narrow">
			{{placesSearchList}}
		</div>
	</div>
</template>