<template name="profile">

    <fieldset class="profile">
      <legend align="center"><img class="headerLogo" src="{{logo}}" /></legend>
    	<h1 class="bizName">{{bizName}}</h1>
    	      				<br>
      <fieldset class="fullWidth">
          			{{{socialMission}}}
        <h1><a target="_blank" href="{{website}}">{{websitePretty website}}</a></h1>
      </fieldset>

       
	  </fieldset>

	{{#if isCurrentUser userId}}<h1><a target="_self" href="{{pathFor 'updateListing'}}">Edit Your Link</a></h1>{{else}}
		{{> footer}}
		{{/if}}

<div class="none _id" data="notclicked">{{_id}}</div>

</template>







<template name="places">

    <fieldset class="profile">
      <legend align="center"><img class="headerLogo" src="           " /></legend>
      <h1 class="bizName">   {{name}}    </h1>
                    <br>
      <fieldset class="fullWidth">
                


        <h1><a target="_blank" href="          ">
          

        </a></h1>
      </fieldset>

       
    </fieldset>

</template>