<template name="updateListing">

{{#if currentUser}}

{{# autoForm collection="Listings" id="updateListing" type="update"}}

<fieldset>
<legend align="center">Edit Your Link</legend>
{{> afQuickField name='bizName'  class="bizName" value=bizName }}
  <fieldset class="fullWidth"><legend align="center">Link</legend>
    {{> afQuickField name='website' class="grid-item" value=website }}
    <h3>If you would like to find your prior location, simply select the search bar in the map and hit "Enter'. If you would like leave the location unchanged, simply avoid clicking the map.</h3>
    {{> afQuickField name="location" class="grid-item"}}
    {{> afQuickField name='industry' class="grid-item"   style="font-size: .8em"}}
    <br>
    <fieldset class="fullWidth"><legend align="center">What's this all about?</legend>
    {{> afQuickField name='socialMission' class="grid-item socialMission" }}
          <br>
    </fieldset>
  </fieldset>


</fieldset>
<div class="bottomButtonSubmit">
  <button type="submit" class="btn btn-primary">Update</button>
</div>
{{/autoForm}}
<div class="bottomButtonRemove">
  <button id="delete">X</button>
</div>

<div class="none location" data="notclicked">{{location}}</div>
<div class="none _id" data="notclicked">{{_id}}</div>


{{else}}
{{> register}}
{{/if}}

</template>